.signup_page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_div{
    width: 40%;
    height: 70%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}
.signup_logo{
    width: 100%;
    height: 50%;
}
.signup_img{
    margin-left: 8rem;
    object-fit: contain;
    width: 15rem;
    background-size: contain;
}
.signup_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.signup_field{
    outline: none;
    border: none;
    border-bottom: 1px solid blue;
    color: black;
}
.signup_field:hover{
    border-bottom: 1px solid gray;
}
.signup_button{
    color: #111;
    font-size: medium;
    font-weight: 700;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #111;
    padding: 2px;
    cursor: pointer;
}
.signup_button:hover{
    border-bottom: 2px solid blue;    
}